@media only screen and (max-width: 425px) {
  .header {
    .img-logo {
      width: 150px;
      height: 27px;
      transform: translateY(-100%);
    }
    ul.menu {
      a {
        text-align: center;
        &:hover {
          color: #B2D235;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 700px) {
  .header {
    .img-logo {
      width: 300px;
      height: 62px;
    }
    .header-right {
      margin-top: 10px;
      li {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    ul.menu {
      a:hover {
        color: white;
        background: #B2D235;
      }
    }
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1200px) {
  .header {
    .img-logo {
      width: 340px;
      height: 70px;
    }
    ul.menu {
      li {
        margin-left: 25px;
      }
      a:hover {
        color: white;
        background: #B2D235;
      }
    }
  }
}