@media only screen and (max-width: 768px) {
  .header {
    .img-logo {
      width: 300px;
      height: 62px;
    }

    .header-right {
      margin-top: 10px;

      li {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .menu {
      a:hover {
        color: white;
        background: $main_color;
      }
    }
  }

  .banner {
    height: 350px;

    .block-banner {
      transform: translateY(25%);
      margin-left: 30px;

      .txt-banner {
        @include font_UTM(bold, 30px, #11114E);
      }

      .txt-title {
        @include font_UTM(bold, 30px, #11114E);
      }

      .img-title {
        width: 34px;
        height: 34px;
      }

      .txt-desc {
        letter-spacing: -0.05em;
        height: 50px;
        @include font_UTM(600, 20px, #505353);
      }

      .btn-start {
        padding: 12px 40px;
        margin-top: 20px;
        @include font_UTM(bold, 16px, #FFFFFF);
      }
    }
  }

  .courses {
    .content-courses {
      height: 303px;
      
      .head {
        height: 130px;
      }

      .img-courses {
        width: 150px;
        height: 80px;
      }

      .foot {
        height: 170px;
      }

      .txt-content {
        @include font_UTM(bold, 20px, #B2D235);
      }

      .txt-des {
        line-height: 18px;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        @include font_UTM(bold, 14px, #505353);
      }

      .btn-take {
        width: 116px;
        height: 26px;
        margin-top: 10px;
        -webkit-text-stroke-width: 0;
        @include font_UTM(bold, 10px, #FFFFFF);
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .header {
    .img-logo {
      width: 150px;
      height: 27px;
      transform: translateY(-100%);
    }

    .menu {
      a {
        text-align: center;
        &:hover {
          color: $main_color;
          background: #FFFFFF;
        }
      }
    }
  }

  .banner {
    height: 200px;
    display: flex;
    justify-content: center;

    .block-banner {
      transform: translateY(100%);
      margin-left: 0;

      .txt-banner {
        @include font_UTM(bold, 30px, #11114E);
      }

      .txt-title {
        @include font_UTM(bold, 30px, #11114E);
      }

      .img-title {
        width: 34px;
        height: 34px;
      }

      .txt-desc {
        letter-spacing: -0.05em;
        height: 50px;
        @include font_UTM(600, 20px, #505353);
      }

      .btn-start {
        padding: 12px 40px;
        margin-top: 20px;
        @include font_UTM(bold, 18px, #FFFFFF);
      }

      a {
        display: flex;
        justify-content: center;
      }
    }
  }

  .courses {
    .header-courses {
      height: 320px;
    }

    .content-courses {
      height: 390px;
      margin: 20px auto;

      .head {
        height: 160px;
      }

      .txt-des {
        padding: 0 16px;
      }

      .btn-take {
        width: 200px;
        height: 42px;
        margin-top: 20px;
        -webkit-text-stroke-width: 1px;
        @include font_UTM(bold, 18px, #FFFFFF);
      }

      .foot {
        height: 230px;
      }
    }
  }
}
