* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("../font/OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'UTM-BryantLG';
  src: url("../font/UTM-BryantLG.ttf");
}
.header .block-header {
  width: 100%;
  margin-left: 0;
}
.header .img-logo {
  width: 340px;
  height: 70px;
}
.header .menu li {
  margin-left: 25px;
}
.header .menu a {
  text-transform: uppercase;
  color: #505353;
  -webkit-text-stroke-width: 0.5px;
  border-radius: 17px;
  font: bold 14px Open-Sans;
}
.header .menu a:hover {
  color: white;
  background: #B2D235;
}

.banner {
  height: 655px;
  background: url("../image/Rectangle-1.png") no-repeat center/cover;
}
.banner .block-banner {
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
  margin-left: 40px;
}
.banner .block-banner .txt-banner {
  font: bold 50px UTM-BryantLG;
  color: #11114E;
}
.banner .block-banner .txt-title {
  -webkit-text-stroke-width: 2px;
  font: bold 50px UTM-BryantLG;
  color: #11114E;
}
.banner .block-banner .txt-desc {
  letter-spacing: -0.05em;
  height: 50px;
  margin-top: 10px;
  font: 600 20px UTM-BryantLG;
  color: #505353;
}
.banner .block-banner .btn-start {
  background: #B2D235;
  border-radius: 35px;
  -webkit-text-stroke-width: 1px;
  padding: 15px 52px;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 25px;
  font: bold 30px UTM-BryantLG;
  color: #FFFFFF;
}
.banner .block-banner .btn-start:hover {
  opacity: 0.8;
}
.banner .block-messenger {
  position: fixed;
  bottom: 90px;
  right: 35px;
  z-index: 1;
  font: bold 12px Open-Sans;
}
.banner .block-messenger .toggle-class {
  display: none;
}
.banner .block-messenger .toggle-class .block-chat {
  width: 360px;
  height: 190px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
}
.banner .block-messenger .toggle-class .img-hapo {
  width: 28px;
  height: 28px;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}
.banner .block-messenger .toggle-class .web-name {
  color: #7F7F7F;
  font: 600 12px Open-Sans;
}
.banner .block-messenger .toggle-class .block-alert {
  background-color: #F1F0F0;
  width: 250px;
  height: 60px;
  border-radius: 15px;
}
.banner .block-messenger .toggle-class .text-alert {
  color: #505353;
  margin-left: 5%;
}
.banner .block-messenger .toggle-class .login-mess {
  width: 265px;
  height: 35px;
  background-color: #3184F7;
  border-radius: 10px;
  cursor: pointer;
}
.banner .block-messenger .toggle-class .login-mess:hover {
  opacity: 0.8;
}
.banner .block-messenger .toggle-class .txt-login {
  text-align: center;
  color: #FFFFFF;
  margin-left: 3%;
}
.banner .block-messenger .toggle-class .txt-chat {
  color: #B3B3B3;
  letter-spacing: -0.02em;
}
.banner .block-messenger .toggle-class .close {
  background-color: #C4C4C4;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
}
.banner .block-messenger .messenger {
  background-color: #2774DF;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}

.color-strip {
  height: 170px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#E5E5E5));
  background-image: linear-gradient(white, #E5E5E5);
}

.block-courses .content-courses, .other-courses .content-courses {
  letter-spacing: -0.05em;
}
.block-courses .content-courses .head, .other-courses .content-courses .head {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0 0;
}
.block-courses .content-courses .img-courses, .other-courses .content-courses .img-courses {
  width: 100%;
  height: 125px;
  padding: 0 52px;
  margin: 40px 0;
}
.block-courses .content-courses .background-left, .other-courses .content-courses .background-left {
  background-color: #3F6185;
}
.block-courses .content-courses .background-middle, .other-courses .content-courses .background-middle {
  background-color: #DC594C;
}
.block-courses .content-courses .background-right, .other-courses .content-courses .background-right {
  background-color: #556598;
}
.block-courses .content-courses .foot, .other-courses .content-courses .foot {
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.block-courses .content-courses .txt-content, .other-courses .content-courses .txt-content {
  -webkit-text-stroke-width: 1px;
  font: bold 30px UTM-BryantLG;
  color: #B2D235;
}
.block-courses .content-courses .txt-des, .other-courses .content-courses .txt-des {
  line-height: 20px;
  padding: 0 25px;
  font: bold 14px UTM-BryantLG;
  color: #505353;
}
.block-courses .content-courses a, .other-courses .content-courses a {
  background: #B2D235;
  -webkit-box-shadow: inset 0 1.5px 2px #6F8710;
          box-shadow: inset 0 1.5px 2px #6F8710;
  border-radius: 22px;
  padding: 10px 45px;
  margin: 22px 0 45px 0;
  -webkit-text-stroke-width: 1px;
  font: bold 18px UTM-BryantLG;
  color: #FFFFFF;
}
.block-courses .content-courses a:hover, .other-courses .content-courses a:hover {
  opacity: 0.8;
}

.block-courses {
  margin-top: -100px;
}

.other-courses .background-left-other {
  background-color: #24ABE2;
}
.other-courses .background-middle-other {
  background-color: #E14E40;
}
.other-courses .background-right-other {
  background-color: #1B75BB;
}
.other-courses .title-courses {
  -webkit-text-stroke-width: 2px;
  margin-bottom: 50px;
  font: bold 80px UTM-BryantLG;
  color: #11114E;
}
.other-courses .title-courses hr {
  width: 45%;
  border: 3px solid #B2D235;
  margin: 15px auto;
  border-radius: 3px;
}
.other-courses .all-courses {
  height: 30px;
  margin-top: 50px;
}
.other-courses .all-courses a {
  text-decoration: none;
  -webkit-text-stroke-width: 2px;
  font: bold 40px UTM-BryantLG;
  color: #90AB26;
}
.other-courses .all-courses a:hover {
  font-size: 50px;
}

.reason {
  background: url("../image/Rectangle17.png") no-repeat center/cover;
  margin-top: 120px;
}
.reason .block-reason {
  padding: 0;
}
.reason .head-reason {
  margin-top: -230px;
}
.reason .title-reason {
  font: bold 70px UTM-BryantLG;
  color: #FFFFFF;
}
.reason .text-reason {
  font: normal 20px UTM-BryantLG;
  color: #FFFFFF;
  line-height: 25px;
}
.reason .text-reason li {
  list-style-type: none;
}
.reason .right-reason {
  margin-top: -200px;
}

.feedback .title-feedback {
  letter-spacing: -0.02em;
}
.feedback .title-feedback .txt-title {
  -webkit-text-stroke-width: 2px;
  font: bold 80px UTM-BryantLG;
  color: #11114E;
}
.feedback .title-feedback hr {
  width: 30%;
  height: 6px;
  margin: 15px auto;
  background-color: #B2D235;
  border-radius: 3px;
}
.feedback .title-feedback .txt-decs {
  margin-top: -100px;
  font: normal 25px UTM-BryantLG;
  color: #505353;
}
.feedback .slide-block .block-cmt {
  padding: 0;
}
.feedback .slide-block .carousel-item {
  margin-right: 0;
}
.feedback .element-cmt {
  width: 100%;
  height: 100%;
  background: url("../image/Union.png") no-repeat center/cover;
}
.feedback .element-cmt .hr {
  width: 4px;
  height: 70%;
}
.feedback .element-cmt .cmt {
  line-height: 20px;
  letter-spacing: -0.05em;
  padding: 50px 0 60px 0;
  font: normal 16px UTM-BryantLG;
  color: #000000;
}
.feedback .element-account img {
  width: 60px;
  height: 60px;
}
.feedback .element-account .txt-name {
  font: bold 20px UTM-BryantLG;
  color: #11114E;
}
.feedback .element-account .txt-lang {
  font: bold 16px UTM-BryantLG;
  color: #505353;
}
.feedback .element-account i {
  font-size: 14px;
  color: #F2C54F;
}
.feedback .controls-top {
  top: -184px;
}
.feedback .controls-top a {
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 0.5px solid #C4C4C4;
  padding-left: -40px;
}
.feedback .controls-top a:hover {
  cursor: pointer;
}
.feedback .controls-top i {
  font-size: 12px;
  padding: 0 2px;
}
.feedback .controls-top .prev {
  margin-left: -8px;
}
.feedback .controls-top .next {
  margin-right: -8px;
}

.learn {
  background: url("../image/Group7.png") no-repeat center/cover;
}
.learn .txt-learn {
  padding-top: 150px;
  font: bold 60px UTM-BryantLG;
  color: #FFFFFF;
}
.learn .btn-start-learn {
  background-color: #FFFFFF;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  white-space: nowrap;
  -webkit-text-stroke-width: 1px;
  padding: 10px 33px;
  font: bold 30px UTM-BryantLG;
  color: #90AB26;
}
.learn .btn-start-learn:hover {
  opacity: 0.8;
}
.learn a {
  margin-bottom: 160px;
}

.statistic .title-statistic span {
  -webkit-text-stroke-width: 2px;
  font: bold 80px UTM-BryantLG;
  color: #11114E;
}
.statistic .title-statistic hr {
  width: 25%;
  border: 3px solid #B2D235;
  margin: 15px auto;
  border-radius: 3px;
}
.statistic .content-statistic {
  font: bold 60px UTM-BryantLG;
  color: #B2D235;
}
.statistic .content-statistic .title {
  color: #505353;
}

.footer {
  background-color: #505353;
}
.footer .block-foot {
  width: 100%;
  margin: 50px 0;
  letter-spacing: -0.05em;
}
.footer .logo .txt-logo {
  margin: -20px 0 0 90px;
  font: normal 20px UTM-BryantLG;
  color: #FFFFFF;
}
.footer .menu ul {
  margin: 0 30px;
}
.footer .menu li {
  list-style-type: none;
  margin: 10px 0;
}
.footer .menu a {
  text-decoration: none;
  font: bold 20px UTM-BryantLG;
  color: #FFFFFF;
}
.footer .menu a:hover {
  -webkit-text-stroke-width: 1px;
}
.footer .contact a {
  color: #FFFFFF;
}
.footer .contact a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.copy-rights {
  background-color: #454545;
  padding: 7px 0;
  font: bold 15px UTM-BryantLG;
  color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
  .header .img-logo {
    width: 300px;
    height: 62px;
  }
  .header .header-right {
    margin-top: 10px;
  }
  .header .header-right li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .header .menu a:hover {
    color: white;
    background: #B2D235;
  }

  .banner {
    height: 350px;
  }
  .banner .block-banner {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
    margin-left: 30px;
  }
  .banner .block-banner .txt-banner {
    font: bold 30px UTM-BryantLG;
    color: #11114E;
  }
  .banner .block-banner .txt-title {
    font: bold 30px UTM-BryantLG;
    color: #11114E;
  }
  .banner .block-banner .img-title {
    width: 34px;
    height: 34px;
  }
  .banner .block-banner .txt-desc {
    letter-spacing: -0.05em;
    height: 50px;
    font: 600 20px UTM-BryantLG;
    color: #505353;
  }
  .banner .block-banner .btn-start {
    padding: 12px 40px;
    margin-top: 20px;
    font: bold 16px UTM-BryantLG;
    color: #FFFFFF;
  }

  .block-courses .content-courses .img-courses, .other-courses .content-courses .img-courses {
    height: 80px;
    padding: 0 25px;
    margin: 28px 0;
  }
  .block-courses .content-courses .txt-content, .other-courses .content-courses .txt-content {
    font: bold 20px UTM-BryantLG;
    color: #B2D235;
  }
  .block-courses .content-courses .txt-des, .other-courses .content-courses .txt-des {
    line-height: 18px;
    letter-spacing: -0.05em;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font: bold 14px UTM-BryantLG;
    color: #505353;
  }
  .block-courses .content-courses a, .other-courses .content-courses a {
    padding: 5px 20px;
    margin: 10px 0 18px 0;
    -webkit-text-stroke-width: 0;
    font: bold 10px UTM-BryantLG;
    color: #FFFFFF;
  }

  .other-courses .title-courses {
    margin-bottom: 40px;
    font: bold 50px UTM-BryantLG;
    color: #11114E;
  }
  .other-courses .all-courses {
    margin-top: 25px;
  }
  .other-courses .all-courses a {
    font-size: 28px;
  }
  .other-courses .all-courses a:hover {
    font-size: 30px;
  }
  .other-courses .all-courses img {
    width: 34px;
    height: 19px;
  }

  .reason .head-reason {
    margin-top: -150px;
  }
  .reason .title-reason {
    font-size: 50px;
  }
  .reason .text-reason {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.05em;
  }
  .reason .right-reason {
    margin: 0;
  }

  .feedback .title-feedback .txt-title {
    font-size: 50px;
  }
  .feedback .title-feedback .txt-decs {
    line-height: 22px;
    font: normal 18px UTM-BryantLG;
    color: #505353;
  }
  .feedback .element-cmt {
    width: 80%;
    height: 80%;
  }
  .feedback .img-account {
    margin-left: 100px;
  }
  .feedback .controls-top .prev {
    margin-left: 64px;
  }
  .feedback .controls-top .next {
    margin-right: 64px;
  }

  .learn .txt-learn {
    font-size: 35px;
    padding-top: 50px;
  }
  .learn .btn-start-learn {
    font-size: 20px;
  }
  .learn a {
    margin-bottom: 60px;
  }

  .statistic .title-statistic span {
    font: bold 50px UTM-BryantLG;
    color: #11114E;
  }
  .statistic .title-statistic hr {
    width: 25%;
  }
  .statistic .content-statistic {
    font: bold 40px UTM-BryantLG;
    color: #B2D235;
  }

  .footer .block-foot {
    margin: 20px 0;
  }
  .footer .logo .txt-logo {
    margin-left: 0;
    line-height: 25px;
    font-size: 16px;
  }
  .footer .menu ul {
    margin: 0 12px;
  }
  .footer .menu li {
    margin: 10px 0;
  }
  .footer .menu a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 425px) {
  .header .img-logo {
    width: 150px;
    height: 27px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .header .menu a {
    text-align: center;
  }
  .header .menu a:hover {
    color: #B2D235;
    background: #FFFFFF;
  }

  .banner {
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .block-banner {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    margin-left: 0;
  }
  .banner .block-banner .txt-banner {
    font: bold 30px UTM-BryantLG;
    color: #11114E;
  }
  .banner .block-banner .txt-title {
    font: bold 30px UTM-BryantLG;
    color: #11114E;
  }
  .banner .block-banner .img-title {
    width: 34px;
    height: 34px;
  }
  .banner .block-banner .txt-desc {
    letter-spacing: -0.05em;
    height: 50px;
    font: 600 20px UTM-BryantLG;
    color: #505353;
  }
  .banner .block-banner .btn-start {
    padding: 12px 40px;
    margin-top: 20px;
    font: bold 18px UTM-BryantLG;
    color: #FFFFFF;
  }
  .banner .block-banner a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .color-strip {
    height: 320px;
  }

  .block-courses .content-courses, .other-courses .content-courses {
    margin: 20px auto;
  }
  .block-courses .content-courses .img-courses, .other-courses .content-courses .img-courses {
    padding: 0 50px;
    margin: 40px 0;
  }
  .block-courses .content-courses .txt-des, .other-courses .content-courses .txt-des {
    padding: 0 16px;
  }
  .block-courses .content-courses a, .other-courses .content-courses a {
    padding: 8px 35px;
    margin: 20px 0 40px 0;
    -webkit-text-stroke-width: 1px;
    font: bold 18px UTM-BryantLG;
    color: #FFFFFF;
  }

  .other-courses .title-courses {
    margin-bottom: 20px;
    font: bold 40px UTM-BryantLG;
    color: #11114E;
  }

  .reason .head-reason {
    margin-top: -100px;
  }
  .reason .title-reason {
    font-size: 40px;
    margin: 20px 0 0 -40px;
  }
  .reason .text-reason {
    font-size: 14px;
    line-height: 17px;
  }

  .feedback .title-feedback .txt-title {
    font-size: 40px;
  }
  .feedback .title-feedback hr {
    width: 40%;
  }
  .feedback .title-feedback .txt-decs {
    line-height: 22px;
    letter-spacing: -0.01em;
    font: normal 19px UTM-BryantLG;
    color: #505353;
  }
  .feedback .element-cmt {
    width: 95%;
    background: url("../image/Union.png") no-repeat;
    background-size: 100% 95%;
  }
  .feedback .img-account {
    margin-left: 30px;
  }
  .feedback .controls-top {
    top: -195px;
  }
  .feedback .controls-top .prev {
    margin-left: 0;
  }
  .feedback .controls-top .next {
    margin-right: 0;
  }

  .learn .txt-learn {
    font-size: 23px;
    padding-top: 30px;
  }
  .learn .btn-start-learn {
    font-size: 18px;
    width: 60%;
  }
  .learn a {
    margin-bottom: 50px;
  }

  .statistic .title-statistic hr {
    width: 40%;
  }

  .footer {
    height: 370px;
  }
  .footer .logo .txt-logo {
    line-height: 17px;
    font-size: 14px;
  }
  .footer .menu ul {
    margin: -40px 0 40px 0;
  }
  .footer .contact {
    padding-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */